/* Dark Navy - #161a1e
Background Navy - #191e23
Regular Navy - #252c36 
Medium Navy - #384555
Light Text - #b0bac1
Navy Headers - #313d4c */

.navbar {
	background-color:  #252C36;
	padding: 15px 30px;
}

.navbar li.divider {
	width: 1px;
	height: 28px;
	border-right: 1px solid #b0bac1;
	margin-top: 9px;
	margin-left: 10px;
	margin-right: 10px;
}

#navbarNav {
	float: right;
}

li.user-nav {
	margin-left: 30px;
}

.profile-img {
	position: absolute;
	margin-left: -24px;
	bottom: 0;
	background-color: #4e5863;
	border: 2px solid #4e5863;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	float: left;
}

.profile-img::before {
	background: none;
  border: 2px solid #252C36;
	border-radius: 50%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.caret {
	background: url(/img/SVG/icon_dropdown.svg) no-repeat;
	width: 12px;
	height: 6px;
	float: right;
	margin-top: 8px;
	margin-left: 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
	height: 24px;
	margin-bottom: 0;
}

.switch input {
	display:none;
}

/* The slider */
.slider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #161A1E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider .round {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: #4e5863;
  border: 2px solid #4e5863;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider .round::before {
	background: none;
  border: 2px solid #252C36;
	border-radius: 50%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input:checked + .slider {
  background-color: #161A1E;
}

input:checked + .slider .round {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 10px 30px;
	}
}